:root {
  /* colors */
  --clr-body: 0 0% 11%;
  --clr-outer-dark: 227 11% 15%;
  --clr-info-dark: 231 12% 12%;
  --clr-footer-dark: 231 7% 9%;
  --clr-off-white: 0 0% 86%;
  --clr-stack: 25 79% 78%;
  --back-body: #fff;

  /* font-sizes */
  --fs-700: 1.5625rem;
  --fs-400: 0.64rem;
  --fs-700-heading: 1rem;

  /* font-families */
  --ff-sans-serif: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* set up the body */
body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-off-white));
  background-color: hsl(var(--clr-body) / 1);
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

li {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main {
  background: hsl(var(--clr-outer-dark) / 1);
  max-width: 34.375rem;
  margin-inline: auto;
  padding: 3.3125em 4.0625em;
}

.main__section {
  background: hsl(var(--clr-info-dark) / 1);
  max-width: 19.8125rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
}

.section-info {
  padding: 1em 2.1875em;
  text-align: center;
  margin-inline: auto;
}

.name {
  font-size: var(--fs-700);
  font-weight: 700;
  margin-top: 1.3125em;
}

.stack {
  color: hsl(var(--clr-stack));
  font-size: 0.8rem;
  margin-bottom: 0.55em;
}

.section-info a {
  color: hsla(0, 0%, 96%, 1);
}

.section-info a:hover {
  color: rgb(42, 170, 255);
}

.section-info small a {
  font-size: 0.64rem;
}

.contact {
  margin-top: 1.5em;
}

.contact a {
  background: hsla(216, 12%, 84%, 1);
  display: inline-block;
  border-radius: 6px;
  box-shadow: hsla(0, 0%, 0%, 0.05);
  padding: 0.56em 1.5em;
  color: hsla(217, 19%, 27%, 1);
  font-weight: 700;
  font-size: 0.875rem;
}

.contact > *:where(:not(:first-child)) {
  margin-left: var(--flow-space, 1rem);
}

.contact a:last-child {
  background: #1da1f2;
  color: hsla(0, 0%, 100%, 1);
}

.icon {
  vertical-align: middle;
  margin-right: 9.6px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: hsla(232, 12%, 13%, 1);
}

.section_about,
.section_interest {
  padding: 1em 2.25em;
  margin-inline: auto;
}

.section_interest {
  margin-top: 1.6875em;
}

.about,
.interest {
  font-weight: 700;
  margin-bottom: 0.3125em;
  color: hsla(0, 0%, 96%, 1);
  margin-top: 1.0625em;
  font-size: 1rem;
}

.about__text,
.interest__text {
  color: hsla(0, 0%, 86%, 1);
  font-size: var(--fs-400);
  max-width: 247px;
  width: 100%;
}

.interest {
  margin-top: 0;
}

.interest__text {
  margin-bottom: 3.5em;
}

.section_footer {
  background: hsl(var(--clr-footer-dark) / 1);
  border-radius: 0px 0px 10px 10px;
  padding: 1.1875em 0;
}

.footer_social {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 247px;
}

.footer_social li {
  background: hsla(254, 6%, 58%, 1);
  padding: 0.35em;
  border-radius: 5px;
}

li + li {
  margin-left: 1.5em;
}

/* あまてくinfo */
.amatech__logo {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* イベント情報 */
.section_events {
  max-width: 19.8125rem;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  padding-inline: 2.25em;
}

.event-container {
  border-radius: 10px;
  list-style: none;
}

.section__events__card {
  flex-wrap: nowrap;
  list-style: none;
}

.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1.2em;
}

.event-card {
  color: hsla(var(--clr-info-dark) / 1);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card__title {
  color: #333;
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.event-card__date {
  color: hsla(var(--clr-info-dark) / 1);
  opacity: 0.8;
  font-size: 0.5rem;
  margin-bottom: 0.5em;
}

.event-more-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1.5em;
}

.event-more-card a{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.event-more-card a:hover{
  transform: scale(1.05);
  color: #1da1f2;
}